
html,body{
    margin: 0;
    box-sizing: border-box;
    color: rgb(12, 31, 59);
    /* background-color: rgb(5, 5, 22) !important; */
}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}
#showcase button.btn.btn-light{
    /* padding: 3rem 2rem; */
    /* font: normal 500 16px/20px var(--roboto); */
    position: relative;
    border: 1px solid;
    border-radius:15px;
    
}
#showcase button.btn.btn-light{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background 4s ease;
    box-shadow: var(--box-shadow);
}
#showcase button.btn.btn-light:hover{
    content: '»';
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
    
}
nav.navbar{
    background-color: rgb(3, 3, 26)!important;
    color: whitesmoke;
    text-transform: uppercase;
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
nav.navbar a.navbar-brand{
    margin-left: 20px;
    color: whitesmoke;
    font-weight: 700;
}
section#showcase{
    background-image: url('../imgs/showcase.jpg');
    background-attachment: fixed;
    background-blend-mode: screen;
    height: 800px;
    /* background-image: url('./imgs/wall.jpg') right bottom no-repeat, url(paper.gif) left top repeat; */
    opacity: 0.9;
    border-bottom: #000 solid 1px;
}
section#showcase div.row div.caption-title{
    height: 250px;
    margin: 300px auto;  
    background: rgba(0, 3, 34, 0.329);
   color: rgb(255,255, 255);
    border-right:10px solid rgb(12, 31, 59);;
}
section#showcase div.row div.title h2{
    margin: 100px auto;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 600;
    /* color: rgb(12, 31, 59); */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section#showcase div.row div.title h2{
    border: 6px solid #fff;
}
/* The animation code */
@keyframes animText {
    /* from {color: rgba(12, 31, 59, 0.103);} */
    from {color: rgba(255, 255, 255, 0.199);}
    /* to {color: rgb(12, 31, 59);} */
    to {color: rgb(255, 255, 255);}
}

/* The element to apply the animation to */
section#showcase div.row div.title{
    /* color: rgb(12, 31, 59); */
    color: #fff;
    animation-name: animText;
    animation-duration: 8s;
    animation-delay: 0.5s;
} 

#floats{
   height: 600px;
    
}
#floats div.container{
    margin: 50px auto;

}
#floats div.container h4::before{
    content: "";
    height: 4px;
    width: 10vw;
    background: rgb(12, 31, 59);
    display: inline-block;
    margin:0 10px 5px 10px;
}
#floats div.container h4::after{
    content: "";
    height: 4px;
    width: 10vw;
    background: rgb(12, 31, 59);
    display: inline-block;
    margin: 0 10px 5px 10px;
}
#floats div.container div.row div.col div.card{
    position: relative;
    min-height: 350px;
    box-shadow: 10px 10px 5px grey;
    opacity: 0.9;
   
}
#floats div.container div.row div.col div.card:hover{
    height: 110%;
    width: 105%;
    background: rgb(247, 241, 241);
    opacity: 1;
    -webkit-transition: width 10s; 
    transition: width 10s;
}
@keyframes cardsanim {
    from {color: rgba(206, 213, 223, 0.021);}
    to {color: rgb(0,0,0);}
}

#floats div.container div.row div.col div.card{
    color: rgb(0,0,0);
    animation-name: cardsanim;
    animation-duration: 3s;
    animation-delay: 0.2s;
} 
#jumbotron{
    position: relative;
    color: rgb(124, 123, 126);
    background-color: rgb(6, 6, 29) !important;
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
}
#jumbotron div.side-content{
    margin: 50px auto;
    line-height: 2;
    letter-spacing: 1px;
}
#jumbotron div.side-content h1::before{
    content: "";
    height: 4px;
    width: 8vw;
    background: rgb(202, 202, 202);
    display: inline-block;
    margin:0 10px 10px 10px;
}
/* #jumbotron div.side-content h1::after{
    content: "";
    height: 4px;
    width: 8vw;
    background: rgb(202, 202, 202);
    display: inline-block;
    margin: 0 10px 10px 10px;;
} */
#jumbotron div.side-content div.text-right p.text{
    color: #fff;
    font-size: large;
}
/* @keyframes textFlow {
    from {margin-left:50%;color: rgb(202, 202, 202);font-size:small;}
    to {margin-left:0;color: #fff;font-size: smaller;}
} */

#jumbotron div.side-content div.text-right p.text{
    animation-name: textFlow;
    animation-duration: 3s;
    animation-delay: 0.2s;
} 
section#extras{
    position: relative;
    text-align: center;
    height: 600px;
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
}
/* overlay text */
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    background-color: #fff;
    font-size: 50px;
    mix-blend-mode: screen;
    border-radius: 20px;

  }

section#more div.jumbotron-fluid{
    min-height: 500px;
    color: whitesmoke;
    background-color:rgb(6, 6, 53) !important;
    
}
section#more div.jumbotron-fluid{
    /* background: #080655d7; */
    background: linear-gradient(to right,#000,#01005771);
} 
section#more div.jumbotron-fluid div.col{
    /* padding: 30px; */
    margin:100px auto;
}
section#more div.jumbotron-fluid div.register h5::before{
    content: "";
    height: 2px;
    margin: 0 10px 5px 0;
    width: 8vw;
    background: rgb(202, 202, 202);
    display: inline-block;
    margin-left: 5%;
}
section#more div.jumbotron-fluid div.register h5::after{
    content: "";
    height: 2px;
    margin: 0 0 5px 10px;
    width: 8vw;
    background: rgb(202, 202, 202);
    display: inline-block;
    margin-right: 5%;
}
section#more div.jumbotron-fluid div.register form input{
    margin-left: 10px auto;
}
section#more div.jumbotron-fluid div.register div.form-group input{
    background:transparent;
    border: none;
    border-bottom: 2px solid rgb(196, 196, 196);
}
section#more div.jumbotron-fluid div.register div.form-group button{
    background-color: transparent;
    margin: 10px 0 30px 0!important;
}
div#rate{
    /* text-align: center; */
    background-color: #eee;
    min-height: 300px;

}
div#rate form input{
    padding: 20px;
}
footer{
    text-align: center;
    /* background-color: rgb(6, 5, 46); */
    color: whitesmoke;
}
footer div#map{
    height: 400px;
    /* color: #000; */
}
/* Standard syntax */
/* @keyframes map {
    0%   {color:red; left:0px; top:0px;}
    10%  {color:yellow; left:95%; top:0px;}
    20%  {color:blue; left:95%; top:90%;}
    30%  {color:green; left:0px; top:90%;}
    40% {color:red; left:0px; top:0px;}
    50%   {color:green; left:95%; top:90%;}
    60%  {color:yellow; left:95%; top:0px;}
    70%  {color:blue; left:0%; top:90%;}
    80%  {color:green; left:0px; top:90%;}
    90% {color:red; left:0px; top:0px;}
    0% {color:red; left:0px; top:0px;}
} */
/* The element to apply the animation to */
footer div#map  h1{
    width: 100px;
    height: 100px;
    position: relative;
    color: red;
    animation-name: map;
    animation-duration: 10s;
}
footer div.connect{
     background-color: rgb(6, 5, 46);
     margin: 0;
    padding: 0;
}
footer div.links{
    height: 200px;
    margin: 0;
    padding: 0;
    /* background-color: rgba(0, 0, 0, 0.062); */
}
footer div.footer-copyright{
     background-color: rgb(3, 3, 26);
}
/* clip-path: polygon(66% 0, 100% 0%, 100% 100%, 34% 100%); */