@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --grey: #eee;
  --dark:rgb(26, 25, 25);
  --gradient:rgb(228, 194, 3);
  --transition: 0.2s linear;
  --font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  /* color: var(--white); */
}
h2,
h4,
h6 {
  text-transform: uppercase;
  font-family: var(--font-family);
}
section {
  /* height: 100vh; */
}
img {
  width: 100%;
  height: auto;
}

/* navbar */
#showcase {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: rgb(47, 45, 45);
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../imgs/showcase/showcase2.jpg');
  /* filter: invert(1); */
}

nav {
  background: var(--black);
  color: var(--white) !important;
  position: absolute;
  height: 50vh;
  width: 5vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
nav a {
  color: var(--white);
}
nav a.brand {
  font-family: var(--font-family);
  padding: 1em 0 1em 0;
  text-transform: uppercase;
  font-weight: 600;
}
nav .socio {
  padding: 1em 0 1em 0;
}
nav .menu a i {
  padding: 0em 0 2em 0;
}

/* nav:nth-child(2){
    color: green;
    padding:1em ;
} */

/* showcse text */
#showcase .showcase-text {
  color: var(--white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  z-index: 1000;
}

.showcase-text .one {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 4em;
}

.showcase-text .one h2 {
  padding: 0em 0em 2em 0em;
  font-weight: 800;
  font-size: 3em;
  line-height: 1em;
}
.showcase-text .one p {
  font-weight: 200;
  font-size: 1em;
  padding: 0em 0em 3em 0em;
}
.showcase-text .one a {
  font-weight: 800;
  color: var(--theme);
}

.showcase-text .drop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 4em;
}
.showcase-text .drop .line::before {
  background: var(--white);
  width: 1em;
}
.showcase-text .drop .line {
  padding: 0em 0em 4em 0em;
}
.showcase-text .drop .line::after {
  background: var(--white);
  width: 1em;
}
.showcase-text .drop h4 {
  padding: 3em 0em 2em 0em;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 1.5em;
}

.showcase-text .vertic {
  display: inline-block;
  rotate: 270deg;
  font-weight: 400;
}
.showcase-text .vertic a {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.showcase-text .vertic a .col1 {
  background: var(--black);
  color: var(--white);
  padding: 2px;
}
.showcase-text .vertic a .col2 {
  background: var(--grey);
  color: var(--black);
  padding: 2px;
}

/* cards section */
section#cards {
  background: var(--dark);
  color: var(--white);
}
#cards .wrapper {
  max-width: 70%;
  margin: auto;
}
/* first card */
#cards .card {
  display: flex;
  padding: 0 0 3em 0;
}
#cards .card img {
  z-index: 2;
  height: 450px;
}
#cards .card .txt {
  text-align: right;
  padding: 3em;
  background: var(--gradient);
  color: white;
  max-width: 640px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
#cards .card .txt p {
  max-width: 70%;
  letter-spacing: 1px;
  line-height: 1.5em;
}

#cards .temp {
  display: flex;
  padding: 2em 0 2em 0;
}
#cards .temp .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  max-width: 650px;
  height: auto;
  padding: 0 0 0 2em;
}
#cards .temp .txt h2 {
  letter-spacing: 1px;
  max-width: 2em;
  padding: 0 0 2em 0;
}
#cards .temp .txt h6 {
  letter-spacing: 1px;
  line-height: 1.5em;
  width: 30em;
}
#cards .temp .txt p {
  letter-spacing: 1px;
  line-height: 1.5em;
  font-weight: 200;
  font-family: var(--font-family);
}

#cards .carousel {
  background: rgb(49, 49, 49);
  padding: 4em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}
#cards .carousel ul{
    padding: 2em 0;
    list-style: circle;
    font-weight: 200;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
#cards .carousel .img img{
    padding: 0;
}
#cards .carousel .txt{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
#cards .carousel .txt h2{
    font-weight: 400;
}
#cards .carousel .txt p{
    font-weight: 200;
}
#cards .carousel .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em;
  grid-template-rows: repeat (2, 250px);
}
#cards .carousel .gallery img{
    /* width: 3.5em; */
    height: 3.5em;
    border: 1px solid var(--grey);
  }
  

/* parallax */
section#parallax{
    height: 100vh;
    /* background: url('../imgs/showcase/dark.jpg'); */
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0, 0, 0, 0.8)),url('../imgs/parallax/moon.jpg');
    background-size: cover;
}
#parallax .wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--white);
    max-width: 70%;
    margin: auto;
    height: 100vh;
    z-index: 1000;
}
#parallax .top {
    padding: 5em 0 0 0;
    display: flex;
    justify-content: space-between;
}
#parallax .top .left{
    padding: 2em 0;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
#parallax .top .left h2{
    font-weight: 600;
}
#parallax .top .left h6{
    font-weight: 600;
    padding: 0 0 4em 0;
}
#parallax .wrapper .top .left ul{
    list-style: none;
}
#parallax .wrapper .top .left ul li{
    line-height: 1em;
    font-weight: 200;
    font-family: var(--font-family);
    padding:0 0 1em 0;
}

#parallax .wrapper .top .right{
   text-align: right;
}
#parallax .bottom{
    position: absolute;
    bottom: 8em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
}
#parallax .bottom a.show{
    padding: 3px;
}
#parallax .bottom a img{
    height: 100px;
    opacity: 0.5;
    filter: invert(1);
}
#parallax .bottom a img:hover{
    opacity: 1;
    filter: invert(0);
    transition: var(--transition);
}
#parallax .bottom .hidden{
    display: none;
}
/* #parallax .bottom .hidden:hover{
    display: block;
} */

/* services */
#services{
    color: var(--white);
    background: var(--dark);
    height: 100vh;
}
#services .wrapper{
    max-width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    align-items: center;
    height: 100vh;
}
#services .group{
    padding: 2.5em;
    display: flex;
    justify-content: space-evenly;
}
#services .group span h4{
    padding: 0 0 1em 0;
}
#services .group span p{
    letter-spacing: 1px;
    line-height: 1em;
}
#services .title{
    padding: 2em;
    background: #000;
    text-align: center;
    max-width: 15vw;
    margin: auto;
}
#services .group .icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon i.fa{
    color: var(--dark);
    cursor: pointer;
}
#services .icon i.fa i.fa:active,#services .icon i.fa:hover{
    color: var(--gradient);
}

#services .right img{
    max-height: 70vh;
    width: auto;
}

/* team */
section#team{
    background: var(--dark);
    height: 100vh;
}
footer{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0, 0, 0, 0.8)),url('../imgs/footer/footer.jpg');
    color: var(--white);
    z-index: 2;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
footer .wrapper{
    max-width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer form input,textarea{
    border: none;
    border-bottom:1px solid var(--grey) ;
    background: transparent;
    width: 100%;
    padding: 0 0 1em 0;
}
.copyright{
    position: absolute;
    color: var(--white);
    background: var(--black);
    text-align: center;
    font-family: var(--font-family);
    letter-spacing: 1px;
    bottom: 0;
    padding: 0.5em;
}